# Игнорировать IPython Notebook файлы
.ipynb_checkpoints/

# игнорировать файлы данных
*.csv
*.xlsx

# Игнорировать файлы моделей машинного обучения
*.pkl
*.h5
*.pth

# Игнорировать файлы с изображениями
*.jpg
*.jpeg

# Игнорировать файлы с настройками IDE и редакторов
.idea/
.vscode/

# Игнорировать логи и временные файлы
*.log
*.tmp
*.swp